<!-- ### Load Culture -->

In [81]:
import pandas as pd
import glob

paths = glob.glob('df_indicators_hdi/*')
paths = [x for x in paths if 'regression_table' in x]



# Function to add stars based on p-value
def add_stars(row, model, var):
    if row['Unnamed: 0'] in ['Intercept', f'{var} Coef']:
        p_value = df.loc[df['Unnamed: 0'] == f'{var} p-value', model].values[0]
        coef = row[model].split(" ")[0]  # Extract coefficient value
        se = row[model].split(" ")[1]   # Extract standard error (in parentheses)
        stars = ''
        if p_value < 0.001:
            stars = '***'
        elif p_value < 0.01:
            stars = '**'
        elif p_value < 0.05:
            stars = '*'
        return f"{coef} {se}{stars}"
    return row[model]



final = []

for x in paths:

    var = x.split('/')[1].split('regression_table_')[1].split('.csv')[0]
    df = pd.read_csv(x)

    df.loc[df['Unnamed: 0'] == f'{var} p-value', ['OLS Without FE', 'MixedLM With FE']] = df.loc[
    df['Unnamed: 0'] == f'{var} p-value', ['OLS Without FE', 'MixedLM With FE']
].applymap(float)

        # Apply the function to add stars for both models
    df['OLS Without FE'] = df.apply(lambda row: add_stars(row, 'OLS Without FE', var), axis=1)
    df['MixedLM With FE'] = df.apply(lambda row: add_stars(row, 'MixedLM With FE', var), axis=1)
    
    final.append(df)

data = pd.concat([x for x in final])
data = data.reset_index(drop=True)

/var/folders/lx/9b13r6ln63jb54_3xlf9b_380000gn/T/ipykernel_6054/1680289946.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  ].applymap(float)
/var/folders/lx/9b13r6ln63jb54_3xlf9b_380000gn/T/ipykernel_6054/1680289946.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  ].applymap(float)
/var/folders/lx/9b13r6ln63jb54_3xlf9b_380000gn/T/ipykernel_6054/1680289946.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  ].applymap(float)
/var/folders/lx/9b13r6ln63jb54_3xlf9b_380000gn/T/ipykernel_6054/1680289946.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  ].applymap(float)
/var/folders/lx/9b13r6ln63jb54_3xlf9b_380000gn/T/ipykernel_6054/1680289946.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  ].applymap(float)
/var/folders/lx/9b13r6ln63jb54_3xlf9b_380000gn/T/ipykernel_6054/1680289946.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  ].applymap(float)
/var/folders/lx/9b13r6ln63jb54_3xlf9b_380000gn/T/ipykernel_6054/1680289946.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  ].applymap(float)
/var/folders/lx/9b13r6ln63jb54_3xlf9b_380000gn/T/ipykernel_6054/1680289946.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  ].applymap(float)

In [82]:
df_regression = data.copy()

df_regression.columns = ['dependent variable',' Without FE', 'With FE']
df_regression = df_regression[df_regression['dependent variable'].str.contains('Coef')]
df_regression = df_regression.reset_index(drop=True)
df_regression

         dependent variable      Without FE         With FE
0      life_expectancy Coef    0.05 (0.02)*  0.11 (0.03)***
1             numeracy Coef  0.22 (0.04)***  0.21 (0.02)***
2               height Coef   0.00 (0.00)**     0.00 (0.00)
3                  gdp Coef  0.07 (0.01)***  0.06 (0.00)***
4     infant_mortality Coef    0.10 (0.04)*    -0.13 (0.07)
5        homicide_rate Coef    -1.02 (0.60)    -0.28 (0.32)
6  Gender_equality_num Coef   0.01 (0.00)**     0.01 (0.01)
7            wellbeing Coef  2.64 (0.42)***   2.05 (0.69)**

In [83]:
df_coorelation = data.copy()
df_coorelation.columns = ['dependent variable',' Without FE', 'With FE']
df_coorelation = df_coorelation[df_coorelation['dependent variable'].str.contains('Correlation')]
df_coorelation = df_coorelation.reset_index(drop=True)
df_coorelation

                dependent variable  Without FE With FE
0      life_expectancy Correlation        0.30    0.76
1             numeracy Correlation        0.41    0.68
2               height Correlation        0.22   -0.13
3                  gdp Correlation        0.49    0.46
4     infant_mortality Correlation        0.35   -0.41
5        homicide_rate Correlation       -0.20   -0.38
6  Gender_equality_num Correlation        0.36    0.16
7            wellbeing Correlation        0.53    0.28

In [84]:


#data.to_csv('db_extract/hdi_indicators.csv')